<strong>Olá, {{ student }}</strong>
<p>Matrícula realizada com sucesso.</p>
<p>
    <strong>Aluno(a): </strong> {{ student }} <br />
    <strong>Data/hora: </strong> {{ date }} <br />
    <br />
    <small>
        Bem-vindo(a)!
    </small>
</p>
